requests==2.28.1
regex==2023.5.5
pip
simplejson==3.19.1
PyInquirer
pyfiglet
termcolor==2.3.0
grpcio>=1.51.1
protobuf<=3.20
cryptography==40.0.2
numpy==1.24.3
cache3==0.4.3
scipy==1.10.1
tb-mqtt-client==1.4.1
aiohttp>=3.8.4
aiosignal>=1.3.1
paho-mqtt>=1.6.1
PyYAML==6.0
jsonpath-rw==1.4.0
bin-parser==1.0.1
redis
